<%= render template: "/search/search" %>
<section id="boxes">
	<div class="container">
		<% @hotel_by_cities.each do |h| %>							
			<div class="box">
				<img src="/assets/image1.jpg">
				<h3>
					<a href=""><%= h.city %></a>
				</h3>			
			</div>
		<% end %>			
	</div>
</section>
