/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

.field_with_errors{
	display: inline;
}

.message{
 color: #f00;
 float: right;
}

sup{
	color: red
}

.logo{
	background-image: url("logo.jpg");
}

ul#nav-mobile.right.hide-on-med-and-down{
	font-weight: 400;
	font-family: 'Rubik',sans-serif;
}


body{
	background-image: url("background.jpg");
	background-repeat: no-repeat;
    height: 585px;
    max-height: 585px;
}

nav{
	background-color: rgba(237,110,238,0);
	-webkit-box-shadow: 0 0 0 0 ;
	box-shadow: 0 0 0 0;
}

.container{
	width: 80%;
	margin: auto;
}

.notice{
	text-align: center;
    width: 15%;
    margin: auto;
    background-color: #e5ffdab8;
    border-radius: 20px;
}

select{
	display: inline;
	border: none;
	outline-color: unset;
}

select .state-select{
	margin: 0;
}

.search{
    width: 100%;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    border-radius: 0 0 3px 3px;
    background: transparent;
    border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.clearfix{

}

.clearfix::after{
    clear: both;
    content: " ";
    display: block;
}

.section-1{
	width: 100%;
	background-color: #fff;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.value-1,.value-2,.value-3,.value-4,.value-5,.value-6{
	float: left;
	width: 16.66%;
	padding: 1%;
}

.search-content{
    font-size: 18px;
    font-weight: 500;
    color: #ea2331;
    padding-left: 5%;
}

option{
	padding: 1%;
}

#ui-datepicker-div{
    background-color: #efefef;
    padding: 1%;
    box-shadow: 1px 1px 10px #000;
}

input[type=text]:not(.browser-default){
	margin-bottom: 10px;
}

.search-button{
	float: right;
    width: 80%;
    box-shadow: rgb(175, 23, 34) 0px 4px 0px;
    min-height: 40px;
    color: rgb(255, 255, 255);
    font-size: 1.14286em;
    font-weight: 500;
    cursor: pointer;
    -webkit-appearance: none;
    background-color: rgb(234, 35, 49);
    border-radius: 3px;
    margin: 18px 10px 0px 0px;
    transition: all 0.3s ease 0s;
    text-overflow: ellipsis;
    border: none;
}

.nav-link:hover{
  font-weight: bold;
}

.hotel-title{
	font-size: 1.85714em;
	text-align: center;
	color: #fff;
}