/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

.field_with_errors{
	display: inline;
}

.message{
 color: #f00;
 float: right;
}

sup{
	color: red
}



ul#nav-mobile.right.hide-on-med-and-down{
	font-weight: 400;
	font-family: 'Rubik',sans-serif;
}


body{
	background-image: url("background.jpg");
	background-repeat: no-repeat;
    background-color: #f4f6f8
}

nav{
	background-color: rgba(237,110,238,0);
	-webkit-box-shadow: 0 0 0 0 ;
	box-shadow: 0 0 0 0;
}


.container{
	width: 80%;
	margin: auto;
    overflow: hidden;
    padding: 1.5%;
}

.notice{
	text-align: center;
    width: 50%;
    margin: auto;
    background-color: #e5ffdab8;
    border-radius: 20px;
}

.alert{
    text-align: center;
    width: 50%;
    margin: auto;
    background-color: #ffe6e6;
    border-radius: 20px;
}

select{
	display: inline;
	border: none;
	outline-color: unset;
}



.search{
    width: 100%;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    border-radius: 0 0 3px 3px;
    background: transparent;
    border-bottom-left-radius: 22px;
	border-bottom-right-radius: 22px;
}

.clearfix{

}

.clearfix::after{
    clear: both;
    content: " ";
    display: block;
}

.section-1{
	width: 100%;
	background-color: #fff;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.value-1,.value-2,.value-3,.value-4,.value-5,.value-6{
	float: left;
	width: 16.66%;
	padding: 1%;
}

.search-content{
    font-size: 18px;
    font-weight: 500;
    color: #ea2331;
    padding-left: 5%;
}

option{
	padding: 1%;
}

#ui-datepicker-div{
    background-color: #efefef;
    padding: 1%;
    box-shadow: 1px 1px 10px #000;
}

input[type=text]:not(.browser-default){
	margin-bottom: 10px;
}

.search-button{
	float: right;
    width: 80%;
    box-shadow: rgb(175, 23, 34) 0px 4px 0px;
    min-height: 40px;
    color: rgb(255, 255, 255);
    font-size: 1.14286em;
    font-weight: 500;
    cursor: pointer;
    -webkit-appearance: none;
    background-color: rgb(234, 35, 49);
    border-radius: 3px;
    margin: 18px 10px 0px 0px;
    transition: all 0.3s ease 0s;
    text-overflow: ellipsis;
    border: none;
}

.nav-link:hover{
  font-weight: bold;
}

.hotel-title{
	font-size: 1.85714em;
	text-align: center;
	color: #fff;
    margin-top: 50px;
}


#boxes{
    margin-top: 100px;
}

#boxes .box{
    float: left;
    width: 29.33%;
    margin: 2%;
    text-align: center;
    background-color: #f4f6f8;
    border-radius: 5px 5px 0 0;
}

#boxes .box:hover{
    background-color: #fff;
    box-shadow: 0px 0px 20px #000000;
    z-index: 2;
    transition: all 0.5s ease;
    transform: scale(1.05);
}

#boxes .box img{ 
    width: 100%;
}

#boxes .box h3{
    font-size: 1.7rem;
    margin: 10px;
}

#boxes .box h3 a{
    color: #333638
}

.logo img{ 
    width: 28%;
}


#search_citySel,#search_stateSel,#search_roomSel{
    margin-bottom: 10px;
}

div#error-div{
    display: none;
    position: absolute;
    border-radius: 4px;
    padding: 10px;
    text-align: center;
    background-color: #f4f6f8;
    font-weight: bold;
    border: 1px solid #d02518;
    animation: fadeinout 4s linear forwards;
}

div#error-div:before{
    content: "";
    position: absolute;
    bottom: 42px;
    left: 50%;
    border-bottom: 8px solid #d02518;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    margin-left: -8px;
}

div#error-div label{
    font-size: 14px;
    font-weight: 400;
    color: #d02518;
}

select:focus{
    outline: none;
}


input::-webkit-inner-spin-button { display: none; }
input::-webkit-calendar-picker-indicator {  }

.pagination{
    text-align: center;
}

.page,.current,.next,.last,.prev,.first{
    margin-right: 1%;
}

.current{
    font-size: 16px;
    font-weight: bold;    
}

.hotel_list{
    margin-top: 10%;
    width: 23%;
    text-align: center;
    background-color: #e2e2e2;
    padding: 1.1%;
    border: 1px solid red;
    box-shadow: 5px 6px 25px #000;
}

input[type="checkbox"]:not(:checked),input[type="checkbox"]:checked{
    opacity: 1;
    pointer-events: visible;
}

/*.hotel_box{
    padding: 1.5%;
    background: #fffffe;
    border-radius: 20px;
}*/

.hotel_box {
    width: 85%;
    margin: auto;
    padding: 1%;
    background: #fffffe;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #0000009c;
}

.room_box {
    width: 85%;
    margin: auto;
    padding: 1%;
    background: #ecddd4;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #0000009c;
}


/*.room_box{
    margin-top: 20px;
    padding: 1.5%;
    background: #ecddd4;
    border-radius: 20px;
}
*/


.room_button{
    text-align: center;
    color: #000;
}

.application_table{
    text-align: center;
    margin: auto;
    width: 85%;
    color: #000;
}

.details_left_box{
    padding: 6.5%;
    background: #fffffe;
    border-radius: 5px;
    color: #e8e8e7;
    box-shadow: 2px 0px 15px #0000009c;
}

.details{
    float: left;
    margin-right: 5%;
}



label,#q_date_eq,#q_rooms_hotel_name_eq{
    color: #000;
}

.table_details:hover{
 background-color: #00000014;   
  cursor: pointer;
}


table.application_table tbody tr th,table.application_table tbody tr td{
    text-align: center;
}

table.application_table tbody tr th{
    border-bottom: 1px solid
}