<nav>
  <div class="container">
    <div class="nav-wrapper">
    	<a href="localhost:3000" class="brand-logo">
      <div class="logo">
        <img src="/assets/logo.jpg">     
      </div>
      </a>
        <ul id="nav-mobile" class="right">
          <% if member_signed_in? %>
    		<li class="nav-link"><%= link_to "Log out", destroy_member_session_path, :method => :delete  %></li>
    		<li class="nav-link"><%= link_to "Edit Profile", edit_member_registration_path %></li>
      <%else%>
        <li class="nav-link"><a href="/">Home</a></li>
    		<li class="nav-link"><a href="/members/sign_up">Registration</a></li>
    	  <li class="nav-link"><a href="/members/sign_in">User Login</a></li>
    		<li class="nav-link"><a href="/admin">Admin Login</a></li>
      <% end %>
        </ul>
    </div>
  </div>
</nav>   


