<div class="container"  style="padding-top: 4.5%" >
       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
</div>

<!--  <% flash.each do |name, msg| %>
  <% if msg.is_a?(String) %>
    <div>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    </div>
  <% end %>
<% end %> -->