<div class="container">
	<h1 class="hotel-title">Book on India's Largest Hotel Network</h1>
	<div class="search">
		<div class="section-1" >
			<ul class="clearfix" >
				<li class="value-1">
					<label class="search-content">State</label>
				    <select class="state-select">
				      <option value="1">Option 1</option>
				    </select>
				</li>
				<li class="value-2">
					<label class="search-content">City</label>
				    <select class="state-select">
				      <option value="1">Option 1</option>
				    </select>
				</li>
				<li class="value-3">
					<label class="search-content">Check-in</label>
					<input type="text" class="datepicker">
				</li>
				<li class="value-4">
					<label class="search-content">Check-out</label>
					<input type="text" class="datepicker">
				</li>
				<li class="value-5"><label class="search-content">Rooms</label></li>
				<li class="value-6"><label class="search-content">
					<input type="submit" value="search" class="search-button">
				</label></li>
			</ul>
		</div>
 	</div>
</div>